// Add additional styles here. For example, overwrite certain styles or add new components.
// Tip: You can use bootstrap's powerful mixins here!


//.alert-myalert {
//  @include alert-variant(#60667d, #1d1d1d, #f4fdff);
//}

//@each $color, $value in $theme-colors {
//  .alert-#{$color} {
//    box-shadow: 3px 3px theme-color-level($color, -3);
//  }
//}


.navbar-brand {
    background-color: $osu;
    color: $white;
    border-radius: $border-radius;
    padding-left: $spacer;
    padding-right: $spacer;
}

pre {
    border-radius: $border-radius;
}

table {
    width: 100%;
    max-width: 100%;
    margin-bottom: $spacer;
    background-color: $table-bg; // Reset for nesting within parents with `background-color`.
  
    th,
    td {
      padding: $table-cell-padding;
      vertical-align: top;
      border-top: $table-border-width solid $table-border-color;
    }
  
    thead th {
      vertical-align: bottom;
      border-bottom: (2 * $table-border-width) solid $table-border-color;
    }
  
    tbody + tbody {
      border-top: (2 * $table-border-width) solid $table-border-color;
    }
  
    table {
      background-color: $body-bg;
    }
    border: $table-border-width solid $table-border-color;

    th,
    td {
      border: $table-border-width solid $table-border-color;
    }
  
    thead {
      th,
      td {
        border-bottom-width: (2 * $table-border-width);
      }
    }

    th {
        color: $table-dark-color;
        background-color: $table-dark-bg;
        border-color: $table-dark-border-color;
      }

    tbody tr:nth-of-type(odd) {
        background-color: $table-accent-bg;
      }
};